@import "./variables.less";
.material-card {
  [class*="ant-row"] {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

.detail-topbar {
  height: 100px;
  background: #fff;
  margin: -15px;
  margin-bottom: 12px;
  padding: 15px;
}

.text- {
  &error {
    color: @error-color;
  }
  &success {
    color: @success-color;
  }
  &warning {
    color: @warning-color;
  }
  &muted {
    color: #ccc;
  }
}

.bg- {
  &error {
    background-color: @error-color;
  }
  &success {
    background-color: @success-color;
  }
  &warning {
    background-color: @warning-color;
  }
  &muted {
    background-color: #ccc;
  }
}

.CodeMirror {
  height: 350px;
  pre {
    font-size: 14px;
    font-family: Consolas, Menlo, Courier, monospace;
  }
}

.detail-bar {
  margin-top: -27px!important;
  margin-left: -25px;
  margin-right: -25px;
  line-height: 60px;
  color: #fff;
  padding-left: 25px;
}

.ant-timeline-item-head-red + .ant-timeline-item-content {
  color: inherit;
}

.ant-timeline-item-content {
  padding: 0 0 10px 20px;
  color: rgba(0, 0, 0, .43);
}

.ant-steps .ant-steps-item.ant-steps-status-finish {
  .ant-steps-title {
    color: #00a854;
  }
  .ant-steps-tail>i:after {
    background: #00a854;
    box-shadow: 0 0 0 0 #00a854;
  }
  .ant-steps-head-inner {
    border-color: #00a854;
    >.ant-steps-icon {
      color: #00a854;
    }
  }
}

.ant-btn {
  border-radius: 0!important;
}

.ant-select-selection, .ant-select-dropdown {
  border-radius: 0!important;
}