{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "typecheck",
    "add-module-exports",
    "transform-decorators-legacy",
    [
      "import",
      {
        "libraryName": "antd"
      }
    ]
  ]
}